Kacin Test Results:
MongoDB GET/POST connection:

Create, Read, Update, and Delete, return correct insertion of objects from models for expected fields:  

Valid token returns profile and invalid throws authentication error:
